@import "../../variables";

.campaign-overview {

  &__details {
    &__container {
      margin-bottom: $spacing-lg;
    }

    &__name {
      font-weight: 600;
      font-size: $font-size-large;
    }

    &__date {
      margin-top: $spacing-sm;
      color: $color-grey-0;

      span {
        font-weight: 600;
      }
    }
  }
  
  &__stats {
    width: 75%;
    margin-left: auto;

    &__container {
      display: flex;
    }

    &__image {
      height: 100px;

      &__wrapper {
        width: 25%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    &__header {
      border-bottom: solid 1px #a4a4a4;
      font-weight: bold;
    }

    &__content {
      display: flex;
      margin-top: $spacing-tiny;

      &__inner {
        display: flex;
        flex: 1;
        margin-bottom: $spacing-lg;

        .campaign-stats {
          &__container {
            width: 33%;
          }

          &__number {
            font-size: $font-size-huge;
          }

          &__percentage {
            margin-top: $spacing-sm;
          }
        }
      }
            
      &__budget {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
      }
    }
  }

  &__breakdown {
    &__header {
      border-bottom: solid 1px #a4a4a4;
      font-weight: bold;
    }
  }
}