@import "../../variables";

.active-link {
  color: #1bd3b4;
}

.header {
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    display: flex;
    padding: 0 $spacing-md;
  }

  &__container-left,
  &__container-right {
    display: flex;
    align-items: center;
  }

  &__container-right {
    margin-left: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey;
    text-decoration: none;
    text-align: center;
    font-family: europa, sans-serif;

    & + & {
      margin-left: $spacing-lg;
    }

    svg {
      height: 18px;
      width: 18px;
    }

    &-active {
      font-weight: bold;
      color: $color-blue-0;

      svg {
        fill: $color-blue-0;
      }
    }
  }

  &__link:hover {
    color: $color-blue-0;
  }

  &__user-link {
    display: flex;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: $spacing-sm;
  object-fit: cover;
  object-position: center right;
}

.icon {
  height: 10px;
  opacity: 0.55;
  margin-right: 15px;
}

.logo-image {
  /* maybe need to change this width - to start out this 133px is from adding width of icon + space + width of nanos text on designs */
  width: 133px;
}
