.list__container {
  display: flex;
  flex-direction: column;

  button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 224px;
    height: 48px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #3274dd, #1bd3b4);
  }
}

.row__link {
  text-decoration: none;
}