@import "../../variables";

.campaign {
  &__container {
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    flex: 1;
    color: black;
    height: calc(#{$campaign-row-height} - 10px);
    display: flex;
    align-items: center;
  }

  &__image {
    height: 60%;

    &__wrapper {
      width: 10%;
      justify-content: center;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  
  &__info {
    width: 40%;

    &-name {
      color: #4a4a4a;
      font-size: 18px;
      font-weight: bold;
    }

    &-details {
      margin-top: $spacing-tiny;
      color: #6e7379;
      font-size: 15px;
    }
  }

  &__stats-container {
    width: 10%;
    min-width: 100px;
  }

  &__status__wrapper {
    width: 20%;
  }
}
