@import "../../variables";

.overview-nav {
  margin-top: $spacing-lg;
  
  &__container {
    display: flex;
  }
  
  &__link {
    text-decoration: none;
    display: flex;
    color: $color-grey;
    opacity: 0.65;
  }
}