@import "../../variables";

.overview-nav {
  
  &__container {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
    display: flex;
    align-items: center;

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      margin-left: auto;
      display: flex;
      align-items: center;

      &__status {
        margin-right: $spacing-lg;
      }
    }
  }
  
  &__link {
    text-decoration: none;
    color: $color-grey;
    opacity: 0.65;
    height: 24px;

    & + & {
      margin-left: $spacing-lg
    }

    &-active,
    &:hover {
      color: $color-black;
      opacity: 1;
      font-weight: bold;
      border-bottom: 4px solid $color-blue-0
    }
  }
}