@import "variables";

@font-face {
  font-family: 'Europa';
  src: local('Europa'), url('./fonts/europa.ttf') format('woff');
}

.app {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__container {
    display: flex;
  }

  &__content {
    padding: 0 $spacing-lg;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Europa', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}