$campaign-row-height: 87px;
$campaign-breakdown-row-height: 100px;

$spacing-tiny: 5px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 40px;


$color-blue-0: #1bd3b4;
$color-red: #ea4335;

$color-grey-0: #6e7379;
$color-grey-1: #f2f2f2;
$color-grey: #9b9b9b;
$color-black: #000000;

$font-size-large: 27.4px;
$font-size-huge: 64px;